<p>sample works!</p>
<p jhiTranslate="adrenalinApp.sample.home.title">title</p>
<p jhiTranslate="adrenalinApp.sample.home.heading">Heading</p>
<p jhiTranslate="adrenalinApp.sample.home.content">Content</p>
